In [3]:
import pandas as pd

# Create an empty DataFrame with the specified columns
columns_list = ['Model Name', 'Rouge', 'Bleu', 'Sentiment', 'Fact checking', 'Bert Score', 'RoberTa']
new_dataset = pd.DataFrame(columns=columns_list)

# Import the exported file containing the single row
single_row_data = pd.read_csv('./all_results/MODEL_NAME_results.csv')

# Add the single row to the new dataset
new_dataset = pd.concat([new_dataset, single_row_data], ignore_index=True)

C:\Users\alexi\AppData\Local\Temp\ipykernel_38828\220181466.py:11: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  new_dataset = pd.concat([new_dataset, single_row_data], ignore_index=True)

,Model Name,Rouge,Bleu,Sentiment,Fact checking,Bert Score,RoberTa,MODEL_NAME
0,NaN,0.0,0.0,0.9,0.4,0.0,-0.091454,MODEL_NAME